#{extends 'main.html' /}

<div class="container clearfix"  style="text-align:center;">
    <h1>Snooped Minecraft Stats</h1>
    <p>
        When we asked the community in early 2012 regarding snooping non-personal data about<br>Minecraft players (<a target="_blank" href="http://wiki.vg/Session#Snoop">more info here</a>) we wanted to share that data back to you.
    </p>
    <p>
        This place is the home of that data, and it can be <a class="scroll-to" href="#downloads">downloaded below</a>.<br>If you do something cool with the data sets, <a target="_blank" href="https://twitter.com/search/realtime?q=%23mcstats&src=typd">tweet with #mcstats</a> so we can have a peek.
    </p>
</div>

<div class="container clearfix">
    <h3>Minecraft server connections</h3>
    <p>
        A dot is a server or a client. Lines are traced from clients connecting to servers. Lone dots are local servers.
    </p>
    <div class="clearfix" style="text-align:center;">
        <p id="live-notice">
            Seen live as they happen.<br/>
            <span class="small">Not loading? <a href="/?offline=indeed">Watch some cached data</a></span>
        </p>
    </div>
</div>

<div id="canvas-container">
</div>

<div class="container clearfix" style="text-align:center">
    <ul id="count-select" class="clearfix">
        <li>Display Count</li>
        <li><a href="#5">Few</a></li>
        <li><a href="#50">A Bunch</a></li>
        <li><a href="#9000" id="kaboom">Kaboom</a></li>
    </ul>
</div>

<div class="container clearfix" id="downloads">
    <h3>Download snooped data sets</h3>
    <p>
        Here's data dumps from the snooper servers, made available for you to poke around in. We'll amend this list once in a while.
    </p>
    <ul>
        <li>
            <a href="/public/torrent/Minecraft.Snoop.20130209.Client.and.Server.JSON-MOjANG.torrent">Minecraft.Snoop.20130209.Client.and.Server.JSON-MOjANG.torrent</a> (12.4 GB) &ndash; ${new Date(1360597800000).since()}
        </li>
        <li>
            <a href="/public/torrent/Minecraft.Snoop.20130205.Client.and.Server.JSON-MOjANG.torrent">Minecraft.Snoop.20130205.Client.and.Server.JSON-MOjANG.torrent</a> (8.35 GB) &ndash; ${new Date(1360161827000).since()}
            <br />
            <span style="font-size:11px; color:#767f8d"><strong>client-1.snoopdata.gz</strong> is corrupt and partly lost in space, make do. : (</span>
        </li>
    </ul>
</div>
