<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>Snooped Minecraft Stats</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="@{'/public/stylesheets/style.css'}">

    <script src="@{'/public/javascripts/libs/modernizr-2.5.3.min.js'}"></script>
</head>
<body>
<div id="offline-notice" class="modal">
    <a href="#" class="close">Close</a>
    <h2>Data Hose Offline</h2>
    <p>
        Seems like the connection to fetch live data couldn't be sustained right now.
    </p>
    <p style="text-align:center">
        <a href="#" class="big-link" id="play-mock-data">Play some cached data instead</a>
    </p>
    <p style="text-align:center">
        Or you could refresh the page or just hit the escape key, maybe it starts working&hellip;
    </p>
</div>
<header>
</header>
<div role="main">
 #{doLayout /}
</div>
<footer>
    Mojang &copy; 2009-2013. "Minecraft" is a trademark of Notch Development AB
</footer>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="@{'/public/javascripts/libs/jquery-1.7.2.min.js'}"><\/script>')</script>
<script src="@{'/public/javascripts/libs/d3.v2.min.js'}"></script>
<script>var offlineMode = false;</script>
#{if !params.get("offline")}
<script src="http://ec2-107-21-202-56.compute-1.amazonaws.com:9000/socket.io/socket.io.js"></script>
#{/if}
#{else}
<script>offlineMode = true;</script>
#{/else}
<script src="@{'/public/javascripts/libs/jquery.simplemodal.1.4.2.min.js'}"></script>
<script src="@{'/public/javascripts/libs/jquery.scrollTo.min.js'}"></script>
<script src="@{'/public/javascripts/libs/jquery.localScroll.min.js'}"></script>

<script src="@{'/public/javascripts/plugins.js'}"></script>
<script src="@{'/public/javascripts/script.js'}"></script>
<script>
    var _gaq=[['_setAccount','UA-9482675-8'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
</script>

</body>
</html>
